{% include "./header.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'global/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'global/style.css' %}">

<div class="row">
 <div class="col offset-s3 s6 offset-s3">
  <h1 class="orange-text">{{ movie.film_name }}</h1>
  <div class="card blue-grey darken-1">
   <div class="card-content white-text">
    <span class="card-title">Synopsis</span>
    <p>{{ movie.synopsis }}</p>
    <br/>
    <h5>Comments</h5>
    {% for review in movie.review_set.all %}
     {{ review.comment }}
    {% endfor %}
   </div>
   <div class="card-action">
    <a href="/">Back</a>
   </div>
  </div>
 </div>
</div>

<script src="{% static 'global/materialize.min.js' %}"></script>
<script src="{% static 'movies/stars.js' %}"></script>
