
  <nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo">Laboratory</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Movies</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>
