{% include "./header.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'global/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'global/style.css' %}">
<div class="row">
 <div class="col offset-s3 s6 offset-s3">
 <h1 class="orange-text">List of movies</h1>
 <div class="divider"></div>
 {% for movie in movies %}
  <div class="movie medium card blue-grey darken-1">
   <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="static/media/{{movie.poster}}">
   </div>
   <div class="card-content white-text">
	   <span class="card-title activator">{{ movie.film_name }}<i class="material-icons right">. . .</i></span>
   <div class="critical" id="critical-{{ movie.id }}"><canvas id="canvas" width=80 height=20></canvas><span class="rating"></span></div>
    <div class="card-action"><a href="/movie/{{ movie.id }}">GO TO DETAILS</a></div>
   </div>
   <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{ movie.film_name }}<i class="material-icons right">X</i></span>
    <p>{{ movie.synopsis|truncatechars:200 }}</p>
   </div>
  </div>
 {% endfor %}
 </div>
</div>

<script src="{% static 'global/materialize.min.js' %}"></script>
<script src="{% static 'movies/stars.js' %}"></script>
<script>
 {% for movie in movies %}
  var starBar{{ movie.id }} = new starsbar('critical-{{ movie.id }}');
  starBar{{ movie.id }}.saved = true;
  starBar{{ movie.id }}.roundStar = false;
  starBar{{ movie.id }}.stars = {{ movie.rating|default_if_none:0 }};
  starBar{{ movie.id }}.selectedBar = ((starBar{{ movie.id }}.stars*80)/5).toFixed(2);
  starBar{{ movie.id }}.canvas.click();
 {% endfor %}
</script>
