.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#critical-review.critical{
 cursor:pointer;
}
.critical-label{
 float:left;
 font-size:20px;
}
.critical, .review{
 width:100%;
 float:left;
}
.critical span, .review span{
 float:left;
 font-size:13px;
}
.critical canvas, .review canvas{
 float:left; 
}
 .card-title{
  text-align:left;
 }
 .card-reveal p{
  text-align:left;
  font-size:16px;
 }

 .card.large{
  height:auto !important;
 }
 .card-action{
  position:relative !important;
 }
 .card.large p{
  font-size:16px;
  text-align:left;
 }
 p.before-synopsis{
  margin-bottom:70px !important;
 }
